/* Label on Active and Valid */
.sp-input-field input[type=text].invalid ~ .sp-input-field-outline-active,
.sp-input-field input[type=text].input-validation-error ~ .sp-input-field-outline-active,
.sp-input-field input[type=text].invalid ~ label,
.sp-input-field input[type=text].input-validation-error ~ label,
.sp-input-field input[type=text].invalid ~ span,
.sp-input-field input[type=text].input-validation-error ~ span,
.sp-input-field input[type=tel].invalid ~ .sp-input-field-outline-active,
.sp-input-field input[type=tel].input-validation-error ~ .sp-input-field-outline-active,
.sp-input-field input[type=tel].invalid ~ label,
.sp-input-field input[type=tel].input-validation-error ~ label,
.sp-input-field input[type=tel].invalid ~ span,
.sp-input-field input[type=tel].input-validation-error ~ span,
.sp-input-field input[type=email].invalid ~ .sp-input-field-outline-active,
.sp-input-field input[type=email].input-validation-error ~ .sp-input-field-outline-active,
.sp-input-field input[type=email].invalid ~ label,
.sp-input-field input[type=email].input-validation-error ~ label,
.sp-input-field input[type=email].invalid ~ span,
.sp-input-field input[type=email].input-validation-error ~ span,
.sp-input-field input[type=password].invalid ~ .sp-input-field-outline-active,
.sp-input-field input[type=password].input-validation-error ~ .sp-input-field-outline-active,
.sp-input-field input[type=password].invalid ~ label,
.sp-input-field input[type=password].input-validation-error ~ label,
.sp-input-field input[type=password].invalid ~ span,
.sp-input-field input[type=password].input-validation-error ~ span,
.sp-input-field textarea.invalid ~ .sp-input-field-outline-active,
.sp-input-field textarea.input-validation-error ~ .sp-input-field-outline-active,
.sp-input-field textarea.invalid ~ label,
.sp-input-field textarea.input-validation-error ~ label,
.sp-input-field textarea.invalid ~ span,
.sp-input-field textarea.input-validation-error ~ span {
    opacity: 1;
    color: sp-theme(error) !important;
    border-color: sp-theme(error) !important;
}

.sp-input {

}

.sp-input-required {
    color: sp-theme(error);
}

.sp-input-field input[type=text]:focus ~ .sp-input-field-outline-active,
.sp-input-field input[type=tel]:focus ~ .sp-input-field-outline-active,
.sp-input-field input[type=email]:focus ~ .sp-input-field-outline-active,
.sp-input-field input[type=password]:focus ~ .sp-input-field-outline-active,
.sp-input-field textarea:focus ~ .sp-input-field-outline-active,
.sp-input-field input[type=text].valid ~ .sp-input-field-outline-active,
.sp-input-field input[type=tel].valid ~ .sp-input-field-outline-active,
.sp-input-field input[type=email].valid ~ .sp-input-field-outline-active,
.sp-input-field input[type=password].valid ~ .sp-input-field-outline-active,
.sp-input-field textarea.valid ~ .sp-input-field-outline-active,
.sp-input-field input[type=text]:focus ~ label,
.sp-input-field input[type=tel]:focus ~ label,
.sp-input-field input[type=email]:focus ~ label,
.sp-input-field input[type=password]:focus ~ label,
.sp-input-field textarea:focus ~ label {
    color: sp-theme(accent);
    border-color: sp-theme(accent);
}

// select

.sp-input-select-dropdown-item {
    &:hover {
        background: sp-theme(light1);
    }
}