$colorAccent: #007CFF;
$colorLight1: #F2F2F2;
$colorLight2: #DCDCDC;
$colorDark1: #707070;
$colorDark2: #343434;


$size-mobile: 600px;
$borderRadius-1: 4px;
$borderRadius-2: 6px;
$borderRadius-3: 8px;